{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <h6>Welcome to Neutrino</h6>
              <h2>We Provide Best <em>Doctors</em> &amp; Cure <span>Patients</span> With Care</h2>
              
              <form id="search" action="#" method="GET"> 
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="{% static 'assets/images/banner-right-image.png' %}" alt="team meeting">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <img src="{% static 'assets/images/about-left-image.png' %}" alt="person graphic">
        </div>
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="services">
          <div class="row">
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-01.png' %}" alt="reporting">
                </div>
                <div class="right-text">
                  <h4>Specialist Doctors</h4>
                  <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
                </div>
                <div class="right-text">
                  <h4>Modern Medical Equipment</h4>
                  <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
                </div>
                <div class="right-text">
                  <h4>Best Services</h4>
                  <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-04.png' %}" alt="">
                </div>
                <div class="right-text">
                  <h4>Good Environment</h4>
                  <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h4  style="text-align:center;">Doctor's List:</h4> <br>
<table class="table table-hover p-5" style="padding:20px;text-align:center;">
  <thead>
    <tr>
      <th scope="col">Doctor ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Designation</th>
      <th scope="col">Speciality</th>
      <th scope="col">Experience</th>
      <th scope="col">Availability</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for doctor in doctors %}
    
    <tr>
      <th scope="row">{{doctor.doctor_id}}</th>
      <td>{{doctor.account.first_name}} {{doctor.account.last_name}}</td>
      <td>{{doctor.account.email}}</td>
      <td>{{doctor.designation}}</td>
      <td>{{doctor.speciality}}</td>
      <td>{{doctor.experience}}</td>
      <td>{{doctor.appointment_available_days}}</td>
      <td><a href="{% url 'doctor_details' doctor.doctor_id %}" class="btn btn-danger">View</a></td>
    </tr>
    
    {% endfor %}
  </tbody>
</table>

<div class="doctor-list" style="margin-top:150px; text-align:center;">
  <h4  style="text-align:center;">Appoinments List:</h4> <br>
<table class="table table-hover p-5" style="padding:20px;text-align:center;">
<thead>
<tr>
<th scope="col">Patient Name</th>
<th scope="col">Age</th>
<th scope="col">Contact</th>
<th scope="col">Doctor</th>
<th scope="col">Diesease Syndrome</th>
<th scope="col">Date</th>
<th scope="col">Time</th>
<th scope="col">New/Old Patient</th> 
</tr>
</thead>
<tbody>
{% for appointment in appointments %}

<tr>
<th scope="row">{{appointment.patient_name}}</th>
<th scope="row">{{appointment.patient_age}}</th>
<th scope="row">{{appointment.patient_contact}}</th>
<td>{{appointment.doctor}}</td>
<td>{{appointment.disease_syndrome}}</td>
<td>{{appointment.date}}</td>
<td>{{appointment.time}}</td>

  {% if appointment.is_new %}
  <td class="text-success">New</td>
  {% else %}
  <td class="text-danger">Old</td>
  {% endif %}

</tr>

{% endfor %}
</tbody>
</table>
</div>
 
<div id="contact" class="contact-us section" style="margin-top:200px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <div class="section-heading">
          <h2>Take an appointment now</h2>
          <a class="btn btn-secondary" href="{% url 'appointments' %}">Book now</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doer ket eismod tempor incididunt ut labore et dolores</p>
          <div class="phone-info">
            <h4>For any enquiry, Call Us: <span><i class="fa fa-phone"></i> <a href="#">01777777777</a></span></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">

      </div>
    </div>
  </div>
</div>


{% endblock  %}